[**@adcp/client API Reference v2.0.0**](../README.md)

***

[@adcp/client API Reference](../README.md) / TestResult

# Interface: TestResult

Defined in: [src/lib/types/adcp.ts:182](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L182)

## Properties

### agent\_id

> **agent\_id**: `string`

Defined in: [src/lib/types/adcp.ts:183](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L183)

***

### agent\_name

> **agent\_name**: `string`

Defined in: [src/lib/types/adcp.ts:184](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L184)

***

### success

> **success**: `boolean`

Defined in: [src/lib/types/adcp.ts:185](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L185)

***

### response\_time\_ms

> **response\_time\_ms**: `number`

Defined in: [src/lib/types/adcp.ts:186](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L186)

***

### data?

> `optional` **data**: `any`

Defined in: [src/lib/types/adcp.ts:187](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L187)

***

### error?

> `optional` **error**: `string`

Defined in: [src/lib/types/adcp.ts:188](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L188)

***

### timestamp

> **timestamp**: `string`

Defined in: [src/lib/types/adcp.ts:189](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L189)

***

### debug\_logs?

> `optional` **debug\_logs**: `any`[]

Defined in: [src/lib/types/adcp.ts:190](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L190)

***

### validation?

> `optional` **validation**: `any`

Defined in: [src/lib/types/adcp.ts:191](https://github.com/adcontextprotocol/adcp-client/blob/e8953d756e5ce5fafa76c5e8fa2f0316f0da0998/src/lib/types/adcp.ts#L191)
